* {
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
header {
    padding: 10px 35px 10px 0px;
    background-color: #39a6b2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    
  }

.header-form {
    font-size: 70px;
    width: 600px;
    border: 15px solid green;
    background-color: green;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
  }
  
header a {
    text-decoration: none;
    color: #fce138;
  }

header nav {
    margin: 7px 0;
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

section {
  padding: 60px;
}

.hero {
  background-color: #024e76;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
}  
.hero-form {
  color: #024e76;
  background-color: #fce138;
  padding: 20px;
  border: solid 3px #024e76;
  width: 15%;
  margin: 10% 5% 0 0;
  
}

.hero-form h3 {
  font-size: 24px;
  text-align: center;
}

.section-title {
  font-size: 48px;
  color: #024e76;
  margin-bottom: 35px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}
/* about me */

.flex-item {
    display:flex;
    align-items: center;
}
.flex-contacts {
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.flex-card {
    display:flex;
    align-items: center;
}


.info-container{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 
 .info-container p{
     padding: 0;
     margin: 0 0 10px;
 }


.contact {
  background: white;
}

.contact h2 {
  color: skyblue;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: skyblue;
  font-size: 32px;
}

/* CONTACT END */

.flex-row {
  display: flex;
}

/* Ajusting for all users */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
} 

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  margin-top: 2%;
}

.main-header {
  display: flex;
  /* Forces elements to the next line if they don't fit */
  flex-wrap: wrap;
  justify-content:center;
  width: 20%;
  padding: 60px;
  background: #13293d;
  color: #fff;
  
}

.card {
  flex: 1 0 0;
  padding: 2% 0 0 0;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  align-content:stretch;
  background-color: #024e76;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
  z-index: 9999;
}

.card img {
  width: 100%;
  min-width: 400px;
}
