* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



/* Header section */
header {
    padding: 10px 35px 10px 0px;
    background-color: darkslategrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    
  }

.header-form {
    font-size: 70px;
    width: 600px;
    border: 15px solid skyblue;
    background-color: skyblue;
}
  
header a {
    text-decoration: none;
    color: #fce138;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 4px;
  }

header nav {
    margin: 0 0;
    padding: 28 0 0 0;
    
  }

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }

  /* Hero section */
section {
  padding: 10px 100px 10px 60px;
}

.hero {
  background-image: url("../images/background.jpg");
  background-size: auto;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-end;
}  

.hero-form {
  color: black;
  background-image: url("../images/Me.jpg");
  background-position: center;
  padding: 100 0 0 0;
  width: 15%;
  margin: 10% 5% 0 0;
  text-decoration-line:underline;
  text-decoration-style: wavy;
  text-decoration-color: darkblue;
  height: 150px;
}

.hero-form h3 {
  font-size: 24px;
  text-align: center;
}

  /* Body section */
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }

.info-container{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 
.info-container p{
     padding: 0;
     margin: 0 0 10px;
 }

  /* About Me section */
.about {
    padding-right: 10px;
    justify-content: space-between;
}

.about h1 {
  color: skyblue;
  width: 440.5px;
  border-right: 6px solid black;
  height: 210px;
  left: 50%;
  margin-left: 70px;
  }

.about div div p {
    height: 190px;
    padding-left: 10px;
    padding-right: 60px;
}


  /* Work section */
.work {
    padding-right: 10px;
    justify-content: space-between;
}
.work h1 {
    color: skyblue;
    width: 376px;
    border-right: 6px solid black;
    height: 1180px;
    padding-left: 130;
    padding-right: 20px;
    margin-left: 75px;
}

 /* Big Box Layout */
.grid {
    min-height: 500;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 185%;
  }
  .grid > div {
    display: flex; 
    flex-basis: calc(100% - 40px);  
    justify-content: flex-end;
    flex-direction: column;
  }
  .grid > div > div {
    display: flex;
    justify-content: baseline;
    flex-direction: row;
  }

  /* Small Box Layout */
  .grid2x2 {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 188%;
  }

  .grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content:flex-end;
    flex-direction: column;
  }
  .grid2x2 > div > div {
    display: flex;
    justify-content:baseline;
    flex-direction: row;
  }

  /* Box Style */  
.box { 
    margin: 10px;
    border: solid 5px #024e76;
    padding: 0 0 5px 0;
    filter:sepia(60%)
}

.flex-item {
    display:flex;
    align-items: center;
}

.box:hover {
    transform: scale(1.005);
    filter: none;
    transition-duration: 0.1s;
}

 /* Big Box Style */  
.box0 { 
    background-image: url("../images/run-buddy.png");
}

.box0 h1{
    width: 150px;
    border: 5px solid #024e76;
    padding: 0 0 0 0;
    margin: 0;
    height: 40px;
    background-color: #024e76;
    font-size: 18;
}
  
.box0 p{
    width: 150px;
    border: 5px solid #024e76;
    padding: 0 0 0 0;
    margin: 0;
    height: 37px;
    background-color: #024e76;
    filter:none;
    font-size: 15;
}

 /* Small Box Style */  
.box1 {background-image: url("../images/fanpage.png")
}

.box1 a {background-image: url("../images/fanpage.png");
    width: 100%;
    height: 100% 
}

  .box2 { background-image: url("../images/box.png"); background-size:cover
}

  .box2 a {background-image: url("../images/box.png"); background-size:cover;
    width: 100%;
    height: 100% 
}

  .box3 { background-image: url("../images/robot-gladiators.png");
}

.box3 a {background-image: url("../images/robot-gladiators.png");
    width: 100%;
    height: 100% 
}

  .box4 { background-image: url("../images/Horiseon-screenshot.png"); 
}

  .box4 a {background-image: url("../images/Horiseon-screenshot.png");
    width: 100%;
    height: 100% 
}

.box1 h1, .box2 h1, .box3 h1, .box4 h1{
    width: 150px;
    border: 5px solid whitesmoke;
    padding: 0 0 0 0;
    margin: 190 0 0 0;
    height: 40px;
    background-color: whitesmoke;
    font-size: 18;
}

.box1 p, .box2 p, .box3 p, .box4 p{
    width: 150px;
    border: 5px solid whitesmoke;
    padding: 0 0 0 0;
    margin: 0;
    height: 37;
    background-color: whitesmoke;
    filter:none;
    font-size: 15;
}
  
 /* Contact Me Section */
.flex-contacts {
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
  color: skyblue;
}
.contact a {
    color: skyblue;
  }

.contact h1 {
  color: skyblue;
  width: 445px;
  border-right: 6px solid black;
  height: 200px;
  left: 50%;
  margin-left: 50px;
  margin-bottom: 30px;
}

.contact-info > * {
  flex: 1;
  margin: 15px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: skyblue;
  font-size: 32px;
}


/* Ajusting for all users */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
  
  .hero-form {
    width: 100%;
  }
  
} 

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-text {
    flex: 100%;  
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

}

* {
  box-sizing: border-box;
}
